* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  background-color: #f4f4f7;
  color: #1c1c42;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 70px;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo ul,
.nav-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.logo img {
  height: 40px;
}

.nav-links ul li {
  margin-left: 50px;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .nav-links ul li {
    display: none;
  }
}
