*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #1C1C42;
  font-size: 65px;
  line-height: 57px;
}

p {
  margin-top: 2px;
  color: #504D6C;
  font-size: 32px;
  line-height: 57px;
}